:root {
  --bg-color: white;
  --bg-color-nav: #24273a;
  --link-color: #7dc4e4;
  --link-color-hover: #a6da95;
  --link-nave-color-hover: #f5bde6;
  --text-color: #24273a;
  --text-color-weak: #8087a2;
  --title-color: #f0c6c6;
  --line-color: #939ab7;
  --heading-color: #6e738d;
  --code-bg-color: #f4dbd6;
  --code-surround-bg-color: #363a4f;
}

nav {
  background-color: var(--bg-color-nav);
  color: var(--title-color);
  font-family: "Bitcount Prop Single";
  font-weight: 300;
  font-size: 20px;
}

nav.toc {
  position: fixed;
  width: 20rem;
  height: 100%;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  margin: 6px 0 3px 0;
  padding: 6px 0 4px 0;
  border-top: solid 1px var(--line-color);
  border-bottom: solid 1px var(--line-color);
}

.snippet {
  line-height: 0px;
}

.snippet-before code {
  background-color: var(--code-surround-bg-color);
}

.snippet-before>.hljs {
  color: var(--text-color-weak);
}

.snippet-before span {
  color: var(--text-color-weak);
}

pre.snippet-before code {
  padding: 0 0 0 1rem;
}

pre.snippet-after code {
  padding: 0 0 1rem 1rem;
}

pre.snippet-main code {
  padding: 0 0 0 1rem;
}

.snippet-after code {
  background-color: var(--code-surround-bg-color);
}

.snippet-after>.hljs {
  color: var(--text-color-weak);
}

.snippet-after span {
  color: var(--text-color-weak);
}

.snippet-main {
  border-right: 2px solid var(--bg-color);
  border-left: 2px solid var(--bg-color);
}

.aside {
  position: absolute;
  right: -40%;
  width: 288px;
  border-top: solid 1px var(--line-color);
  font-size: 14px;
  font: normal 14px/20px "Source Code Pro", monospace;
}

.aside img {
  float: left;
  width: max-content;
  padding-right: 10px;
}

pre {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  font-family: "Source Code Pro";
  font-size: 14px;
}

.source {
  position: absolute;
  right: -32%;
  width: 220px;
  padding: 0px -50px 0 20px;
  font: normal 14px/20px "Source Code Pro", monospace;
}

.source-btm {
  display: none;
  text-align: right;
  font: normal 14px/20px "Source Code Pro", monospace;
}

code {
  color: var(--text-color);
  font: normal 16px/22px "Courier New", Monospace;
  margin-right: 2px;
  padding: 3px;
  box-shadow: 2px 2px var(--text-color-weak);
}

.hljs {
  box-shadow: 0px 0px;
}

.source em {
  color: var(--text-color);
}

.source-btm em {
  color: var(--text-color);
}

.source::before {
  content: "<<";
  text-align: left;
  width: 30px;
  right: 100%;
  position: absolute;
}

table {
  font-family: "Courier New";
  font-size: 24px;
  border-collapse: collapse;
  text-align: left;
}

table thead tr th {
  padding: 2px 30px 4px 2px;
}

td {
  padding: 2px 0px 2px 2px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

table,
th,
td {
  border-bottom: 1px solid var(--line-color);
}

a {
  text-decoration: none;
}

article h2 a:hover {
  color: var(--text-color);
}


article a {
  color: var(--title-color);
}

article a:hover {
  color: var(--link-color-hover);
}

nav a {
  color: var(--title-color);
}

nav a:hover {
  color: var(--link-nave-color-hover);
}

nav li small {
  float: right;
}

nav.toc h1 {
  font-weight: 400;
  margin: 0 0 40px 0;
  font-size: 38px;
}

nav.toc h2 {
  font-weight: 400;
  margin: 0;
  font-size: 25px;
}

nav.toc .contents {
  margin: 15% 20%;
}

nav .prev-next {
  padding-top: 2%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2%;
}

.prev {
  float: left;
}

.next {
  float: right;
}

body {
  background-color: var(--bg-color);
  margin: 0;
}

.page {
  position: relative;
  width: max-content;
  margin: 0 auto 0 384px;
  font-family: "Verdana";
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-color-weak);
}

h1 {
  margin: 0;
  font-weight: 500;
}

.num {
  display: inline-block;
  width: 3rem;
}

.romanNum {
  position: relative;
  display: inline-block;
  right: 2rem;
  width: 2rem;
  margin-right: 0rem;
  font-size: 24px;
  font-family: Georgia;
}

article {
  position: relative;
  width: max;
}

article img {
  max-width: 100%;
}

article.chapter {
  width: 50rem;
}

article.chapter p {
  color: var(--text-color);
  font-weight: 500;
}

article h1.title {
  font-family: "Georgia";
  color: var(--title-color);
  text-transform: uppercase;
  padding: 5rem 0 2rem 0;
  font-weight: 400;
  font-size: 66px;
  line-height: 100%;
}

article.content .chapters {
  display: table;
  width: 60rem;
  font: normal 14px/20px "Source Code Pro", monospace;
}

article.content .row {
  display: table-row;
}

article.content .left {
  display: table-cell;
  vertical-align: top;
}

article.content .right {
  display: table-cell;
  vertical-align: top;
  padding-left: 2rem;
}

article.content h2 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
}

article.content h2:hover {
  color: var(--text-color);
}

article.content ul {
  margin: 2rem 0 0 0;
  padding: 0;
}

article.content li {
  list-style-type: none;
  color: var(--text-color-weak);
  font-weight: 300;
  font-size: 24px;
  padding: 0.5rem 0 0 24px;
  line-height: 26px;
}

article.content li a {
  color: var(--text-color-weak);
}

article.content li a:hover {
  color: var(--text-color);
}

article.content li:hover {
  color: var(--text-color);
}

footer {
  position: relative;
  border-top: solid 1px var(--line-color);
  text-align: center;
  margin: 3rem 0 0 1rem;
  padding-top: 1rem;
  font: 300 20px/30px "Bitcount Prop Single";
  cursor: pointer;
}

footer .next {
  position: absolute;
  right: 0px;
  top: -15px;
  padding-left: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: var(--bg-color);
}

footer a {
  border: none;
  text-decoration: none;
}


article.content footer {
  width: 95%;
}

article footer a {
  color: var(--line-color)
}

article.chapter .hint p {
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 2px 20px 2px 20px;
  font-size: 14px;
  font-style: italic;
}

@media only screen and (max-width: 1370px) {
  body {
    margin: 0 24px;
  }

  nav.toc {
    display: none;
  }

  .page {
    position: relative;
    width: inherit;
    max-width: 912px;
    margin: 0 auto;
  }

  article {
    width: inherit;
    margin: 0;
  }

  article.content .chapters,
  article.content .row,
  article.content .left,
  article.content .right {
    display: block;
    width: auto;
    padding: 0;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  article {
    width: inherit;
  }

  article.chapter {
    width: inherit;
  }

  .aside {
    position: inherit;
    right: inherit;
    width: inherit;
    border-bottom: solid 1px var(--line-color);
    overflow: hidden;
    padding-bottom: 10px;
  }

  .aside img {
    display: block;
    float: left;
  }

  .source {
    display: none;
  }

  .source-btm {
    display: block;
  }
}

@media only screen and (max-width: 580px) {
  .page {
    margin: 0;
  }

  article.content ul {
    margin: auto -2rem;
  }

  .num {
    width: auto;
  }
}